.firm_header{
    background-color: white;
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 1005;
    background: #ffffff;
    color: rgba(49, 53, 52, 0.6);
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
}

.headerbar {
    position: relative;
    min-height: 64px;
}

.headerbar-left {
    position: absolute;
}

.headerbar-left .header-nav {
    margin-left: 24px;
}

.header-nav {
    margin: 0 12px;
    padding-left: 0;
    list-style: none;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.header-nav .header-nav-brand {
    display: inline-table;
    padding: 0;
    height: 64px;
}

.header-nav > li {
    position: relative;
    display: block;
    padding: 14px 0 14px 12px;
    float: left;
}
.header-nav > li > a {
    position: relative;
    display: block;
}
.headerbar-left a {
    float: left;
}

/* right header */
.headerbar-right {
    float: right;
}
.headerbar-right .header-nav {
    display: inline-block;
    float: left;
}


/*menu style */
#menubar {
    position: fixed;
    z-index: 1004;
    left: 0;
    top: 64px;
    bottom: 0;
    width: 64px;
    color: rgba(12, 12, 12, 0.85);
   background:#414f62
}
#menubar.menubar-inverse {
    color: rgba(255, 255, 255, 0.55);
}
.menubar-fixed-panel {
    position: relative;
    display: inline-table;
    width: 100%;
    height: 64px;
    z-index: 10;
    border-bottom: 1px solid rgba(12, 12, 12, 0.07);
}
#menubar.menubar-inverse:before {
    background: #414f62;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#menubar .menubar-scroll-panel {
    position: relative;
    padding-top: 16px;
    z-index: 2;
    min-height: 100%;
}
.gui-controls {
    font-size: 12px;
    padding: 0;
    margin-bottom: 30px;
}
.gui-controls > li {
    position: relative;
    margin-bottom: 12px;
}
.gui-controls > li > a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 12px 0px;
    font-size: 16px;
    line-height: normal;
    border-radius: 0;
    padding-left: 0;
    min-height: 40px;
    min-width: 64px;
    z-index: 1;
}

.menubar-inverse .gui-controls li .title {
    color: rgba(255, 255, 255, 0.55);
    /* text-shadow: 0 1px 2px #000000; */
    text-shadow: 0 1px 2px #4a4a4a;
}

#menubar .menubar-foot-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.07);
    padding: 16px;
}
.no-linebreak {
    white-space: nowrap;
}

#menubar .nano-pane {
    z-index: 2;
    width: 9px;
    background: transparent;
}