.firm_header{
    background-color: white;
}

#header {
    height: 80px;
    background: #ffffff;
    color: rgba(49, 53, 52, 0.6);
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
    position: fixed;
    width: 100%;
}

.headerbar {
    position: relative;
    min-height: 64px;
}


.headerbar-left .header-nav {
    margin-left: 24px;
}

.header-nav {
    margin: 0 12px;
    padding-left: 0;
    list-style: none;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.header-nav .header-nav-brand {
    display: inline-table;
    padding: 0;
    height: 64px;
}

.header-nav > li {
    position: relative;
    display: block;
    padding: 14px 0 14px 12px;
    float: left;
}
.header-nav > li > a {
    position: relative;
    display: block;
}
.headerbar-left a {
    float: left;
}

/* right header */
.headerbar-right {
    float: right;
}
.header-nav-profile .dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.header-nav > li {
    position: relative;
    display: block;
    padding: 14px 0 14px 12px;
    float: left;
}
.headerbar-right .header-nav {
    display: inline-block;
    float: left;
}
.header-nav > li > a > img {
    max-width: none;
}
.header-nav > li > a:hover, .header-nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(12, 12, 12, 0.07);
}

.header-nav-profile .dropdown > a {
    position: relative;
    min-height: 64px;
    min-width: 210px;
    padding: 12px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.header-nav-profile .dropdown .profile-info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 10px;
    line-height: 15px;
}
.header-nav-profile .dropdown .profile-info small {
    display: block;
    opacity: 0.5;
}



/*menu style */
#menubar {
    position: fixed;
    z-index: 1004;
    left: 0;
    top: 80px;
    bottom: 0;
    color: rgba(12, 12, 12, 0.85);
   background:#414f62;
   width: 265px;
}
#menubar.menubar-inverse {
    color: rgba(255, 255, 255, 0.55);
}
.menubar-fixed-panel {
    position: relative;
    display: inline-table;
    width: 100%;
    height: 64px;
    z-index: 10;
    border-bottom: 1px solid rgba(12, 12, 12, 0.07);
}
#menubar.menubar-inverse:before {
    background: #414f62;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



#menubar .menubar-scroll-panel {
    padding-top: 16px;
    z-index: 2;
    min-height: 100%;
}
.gui-controls {
    font-size: 12px;
    padding: 0;
    margin-bottom: 30px;
}
.gui-controls > li {
    position: relative;
    margin-bottom: 12px;
}
.gui-controls > li > a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 12px 0px;
    font-size: 16px;
    line-height: normal;
    border-radius: 0;
    padding-left: 0;
    min-height: 40px;
    min-width: 64px; 
    z-index: 1;
}
span.gui-icon.ng-scope .fa {
    font-size: 20px;
    padding-left: 12px;
}

.header-nav > li > a:hover, .header-nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(12, 12, 12, 0.07);
}

#menubar.menubar-inverse:before {
    background: #414f62;
}
 .gui-controls > li:not(.gui-folder) > a:hover {
    /* background-color: #313942; */
    background-color: #6b83a2;
}
 .gui-controls > li:not(.gui-folder) > a:hover span.gui-icon.ng-scope {
    color: #fff;
}

.menubar-inverse .gui-controls li .title {
    color: rgba(255, 255, 255, 0.55);
    /* text-shadow: 0 1px 2px #000000; */
    text-shadow: 0 1px 2px #4a4a4a;
}

#menubar .menubar-foot-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.07);
    padding: 16px;
}
.no-linebreak {
    white-space: nowrap;
}

   

#menubar .nano-pane {
    z-index: 2;
    width: 9px;
    background: transparent;
}



/*  main content    */

.main-panel {
    transition: width .25s ease,margin .25s ease;
    width: calc(100% - 260px);
    margin-left: 260px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

.page-content {
    margin-top: 80px;
    padding: 14px;
}