/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.slide-pane__overlay{
	z-index: 11;
	    /* top: 10% !important; */
}


.slide-pane__header{
	background: #6B83A2 !important;
  color: #fff; 
}


input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 20px;
  width: 20px;
  display: inline-block;
  color:#fff;
  /* float: right; */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

/* ----- v CAN BE DELETED v ----- */

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 24px;
}
.list .tile {
    position: relative;
    display: table;
    width: 100%;
    min-height: 48px;
}
.listpadding {
    font-size: 16px;
}
.list .tile > a {
    text-decoration: none;
    color:#000;
}
.list .tile > a:hover{
	color:#F79F36;
}


.page-bar {
    background: #F79F36 !important;
    padding: 0 12px;
    min-height: 56px;
}

.tools.pull-right {
    display: -webkit-inline-box;
    display: flex;
}
.tools.pull-right .mdi{
	color:#fff;
}

.tools.pull-left .dropdown-toggle::after{
	display: none;
} 

.tools.pull-left .btn {
    margin-right: 10px;
    font-size: 13px;
    border-radius: 0;
}
.tools.pull-left i {
	font-size: 13px;
	font-weight: 900
}

.bg-white.modal-body .btn {
    text-transform: uppercase;
}

.btn-primary-width{
  width : 100% ;
  margin-bottom : 11px
}
.btn-primary-width ul{
  width : 100% ;
}

.slider_padding{
  padding : 20px 20px
}

.logo-container{
  border-radius: 2;
}

.project_circle{
  border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 58px !important;
    background: #fff;
    font-size: 20px;
    color: #aaa;
    margin-right: 15px;
    vertical-align: middle;
}

.person-form{
  max-height: 100vh;
  overflow-y: auto;
}
.rbt-input-multi.form-control {
  height: 34px;
}
.create-person-container .form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.12);
}
.create-person-container .form-group label {
  opacity: 0.5;
  font-size: 12px;
}
.create-person-container .form-group .form-control:focus {
  border-bottom-color: #000;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  transition: border-color ease-in-out .35s;
}
.create-person-container .form-group .phone-type {
  width: 140px;
  font-size: 13px;
  opacity: 0.5;
  border: 0;
}
.create-person-container .form-group .phone-type:focus {
  border: 0;
}
.btn-primary {
  background-color: #6B83A2;
  border-color: #6B83A2;
  font-size: 14px;
  padding: 4.5px 14px;
}
.btn-primary:hover {
  background-color: #414F62;
  border-color: #414F62
}
.btn-primary:focus {
  background-color: #06605a;
  border-color: #06605a
}
.header-nav-profile .dropdown .profile-info {
  line-height: 15px;
  font-size: 13px;
  color: #313534;
  opacity: 0.6;
}
.header-nav.header-nav-profile:hover {
  background-color: rgba(12, 12, 12, 0.07);
}
ul.header-nav.header-nav-options li {
  padding: 0px;
  margin-right: 12px;
}
ul.header-nav.header-nav-options .firm-header-icons:hover {
  background-color: rgba(12, 12, 12, 0.07);
  border-radius: 30px;
}
.header-nav:focus-within {
  background-color: #6B83A2;
  border-color: #6B83A2;
  opacity: 1.5;
}
.header-nav .dropdown-menu li a {
  padding: 5px 20px;
  display: block;
}
.header-nav .dropdown-menu li a:hover {
  background-color: #6B83A2;
  color: #fff;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 11px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#proBanner .dropdown-toggle {
  border-radius: 50px;
  padding: 2px 9px;
}
#proBanner .dropdown-menu li a {
  display: block;
}
#proBanner .dropdown-toggle > i {
  font-size: 25px !important;
}
#filter-btn .all-people-btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 13px;
}
#proBanner ul.dropdown-menu.show li a:hover {
  background-color: #6B83A2;
  color: #fff;
}
.checkbox-styled:not(ie8) input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-styled:not(ie8) input:checked ~ span:before {
  transform: rotate(-45deg);
  height: 10px;
  border-color: #F79F36;
  border-top-style: none;
  border-right-style: none;
}
.checkbox-styled:not(ie8) input ~ span:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #535858;
}
.list .tile .checkbox-styled:not(ie8) input ~ span {
  font-size: 14px;
  line-height: 22px;
  padding-left: 30px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-top;
}
.list .tile .checkbox-styled:not(ie8) label {
  display: inline-block;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.list .tile .checkbox-styled:not(ie8):last-child label {
  padding: 14px;
}
.list .tile .checkbox-styled:not(ie8) {
  display: flex;
  padding: 0;
}
.btn-filter-selectbutton {
  color: #969c9c;
  color: #313534;
  background-color: #e5e6e6;
  border-color: #e5e6e6;
}
.company-name-container .rbt-input-main{
	width: 100%;
	position: relative;
	font-size: 1rem;
	height: calc(1.5em + .75rem + 2px);
}
#menu-appbar li a {
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
		font-size: 0.875rem;
}
.grid-option {
	top :125px;
}