/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.slide-pane__overlay{
	z-index: 11;
	    top: 10% !important;
}


.slide-pane__header{
	background: #F79F36 !important;
	    color: #fff; 
}


input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 20px;
  width: 20px;
  display: inline-block;
  color:#fff;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

/* ----- v CAN BE DELETED v ----- */

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 24px;
}
.list .tile {
    position: relative;
    display: table;
    width: 100%;
    min-height: 48px;
}
.listpadding {
    font-size: 16px;
}
.list .tile > a {
    text-decoration: none;
    color:#000;
}
.list .tile > a:hover{
	color:#F79F36;
}


.page-bar {
    background: #F79F36 !important;
    padding: 0 12px;
}

.tools.pull-right {
    display: -webkit-inline-box;
    display: flex;
}
.tools.pull-right .mdi{
	color:#fff;
}

.tools.pull-left .dropdown-toggle::after{
	display: none;
} 

.tools.pull-left .btn {
    margin-right: 5px;
    font-size: 13px;
    border-radius: 0;
}
.tools.pull-left i {
	font-size: 13px;
	font-weight: 900
}

.bg-white.modal-body .btn {
    text-transform: uppercase;
}


